<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
</head>
<body>
  <h2>Admin Dashboard</h2>


<p>Total Students: {{ total_students }}</p>
<p>Total Courses: {{ total_courses }}</p>

<ul>
  <li><a href="{% url 'students:list' %}">Manage Students</a></li>
  <li><a href="{% url 'courses:list' %}">Manage Courses</a></li>
</ul>
<form method="post" action="{% url 'accounts:logout' %}">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form>

</body>
</html>
