# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Django
.db.sqlite3
*.sqlite3
media/

# Django migrations cache
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
